<section xmlns:th="http://www.thymeleaf.org">
    <div class="container bootstrap snippets bootdey autoScroll">

    <div class="container">
        <div class="row">
            <div class="col-md-12">



                    <form action="/manage-companies/add" method="POST" th:object="${company}" enctype="multipart/form-data">

                        <input id="id" type="hidden" name="id" th:value="(${company} != null ? ${company.getId()} : '')">

<!--                            <img class="img-responsive img-circle img-thumbnail img-user" name="imageSource" >-->

<!--                                <label class="col-lg-3 col-form-label form-control-label">profile picture</label>-->
                            <div class="form-group">
                                <label for="name">Profile picture</label>
<!--                            <div class="col-lg-9">-->
                                    <input class="form-control" type="file" name="image" accept="image/png, image/jpeg">
<!--                                </div>-->
                            </div>
                            <div class="form-group">
                            <label for="name">Company name</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   required
                                   placeholder="Enter company name">
                                   <!--th:value="(${company} != null ? ${company.getName()} : '')"-->

                        </div>
                        <div class="form-group">
                            <label for="name">Company descriotion</label>
                            <input type="text"
                                   class="form-control"
                                   id="description"
                                   name="description"  required
                                   placeholder="Enter product name">
                                   <!--th:value="(${company} != null ? ${company.getDescription()} : '')"-->

                        </div>

                        <div class="form-group">
                            <label for="name">Company moto</label>
                            <input type="text"
                                   class="form-control"
                                   id="moto"
                                   name="moto" required
                                   placeholder="Enter product name">
                                   <!--th:value="(${company} != null ? ${company.getMoto()} : '')"-->

                        </div>
                        <div class="form-group">
                            <label for="name">Company owner</label>
                            <input type="text"
                                   class="form-control"
                                   id="owner"
                                   name="owner"  required
                                   placeholder="Enter product name">
                                  <!-- th:value="(${company} != null ? ${company.getOwner()} : '')"-->

                        </div>
                        <div class="form-group">
                            <label for="name">Company employees</label>
                            <input type="number"
                                   class="form-control"
                                   id="employee"
                                   name="numEmployee"  required
                                   placeholder="Enter product name">
                                  <!-- th:value="(${company} != null ? ${company.getEmployee_num()} : '')"-->

                        </div>
                        <div class="form-group">
                            <label for="name">Company employees</label>
                            <input type="number"
                                   class="form-control"
                                   id="intern"
                                   name="numInterns" required
                                   placeholder="Enter product name">
                                   <!--th:value="(${company} != null ? ${company.getIntern_num()} : '')"-->

                        </div>


                        <button id="submit" type="submit" class="btn btn-default">Submit</button>
                        <a type="button" class="btn btn-primary" href="/company-profile">Back</a>
                    </form>


            </div>
        </div>
    </div>
    </div>

</section>