<section xmlns:th="http://www.thymeleaf.org">
    <div class="container bootstrap snippets bootdey autoScroll">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!--<article class="text-center">-->
                    <!--<figure>
                        <img class="img-responsive img-circle img-thumbnail img-user" src="https://bootdey.com/img/Content/avatar/avatar7.png">
                    </figure>-->
                    <form action="/company-profile/add" method="POST">
                        <input id="id" type="hidden" name="id" th:value="(${company} != null ? ${company.getId()} : '')">
                        <div class="form-group">
                            <label for="name">Company name</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   required
                                   th:value="(${company} != null ? ${company.getName()} : '')"
                                   placeholder="Enter company name">


                        </div>
                        <div class="form-group">
                            <label for="name">Company descriotion</label>
                            <input type="text"
                                   class="form-control"
                                   id="description"
                                   name="description"  required
                                   th:value="(${company} != null ? ${company.getDescription()} : '')"
                                   placeholder="Enter product name">


                        </div>

                        <div class="form-group">
                            <label for="name">Company moto</label>
                            <input type="text"
                                   class="form-control"
                                   id="moto"
                                   name="moto" required
                                   th:value="(${company} != null ? ${company.getMoto()} : '')"
                                   placeholder="Enter product name">


                        </div>
                        <div class="form-group">
                            <label for="name">Company owner</label>
                            <input type="text"
                                   class="form-control"
                                   id="owner"
                                   name="owner"  required
                                   th:value="(${company} != null ? ${company.getOwner()} : '')"
                                   placeholder="Enter product name">


                        </div>
                        <div class="form-group">
                            <label for="name">Company employees</label>
                            <input type="number"
                                   class="form-control"
                                   id="employee"
                                   name="numEmployee"  required
                                   th:value="(${company} != null ? ${company.getEmployee_num()} : '')"
                                   placeholder="Enter product name">


                        </div>
                        <div class="form-group">
                            <label for="name">Company employees</label>
                            <input type="number"
                                   class="form-control"
                                   id="intern"
                                   name="numInterns" required
                                   th:value="(${company} != null ? ${company.getIntern_num()} : '')"
                                   placeholder="Enter product name">


                        </div>


                        <button id="submit" type="submit" class="btn btn-default">Submit</button>
                        <a type="button" class="btn btn-primary" href="/company-profile">Back</a>
                    </form>
                    <!--<h3 class="text-primary">Hi.</h3>
                    <h4 class="text-info">My name is bootdey</h4>
                    <p>I'm a web designer / developer, love bootstrap, love html css js, I have a </p>
                    <p>passion for web design and love to create for web and mobile devices.</p>-->
                    <!-- </article>-->

                </div>
            </div>
        </div>
    </div>

</section>